/* Intializing CSS Variables fonts colors etc  */
:root {
  color-scheme: light dark;
  --text: #535574;
  --background: #dbe2f5;
  --primary: #3c407c;
  --secondary: #9296c4;
  --accent: #494f69;
}

@media (prefers-color-scheme: dark) {
  :root:not(:has(#theme-toggle:checked)) {
    --text: #8b8dac;
    --background: #0a1124;
    --primary: #8387c3;
    --secondary: #3b3f6d;
    --accent: #969cb6;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
}

/* Theme Toggle Styling */
#theme-toggle {
  display: none;
}

label[for="theme-toggle"] {
  cursor: pointer;
  font-size: 24px;
  color: var(--primary);
}

label[for="theme-toggle"] .fa-sun {
  display: inline-block;
}

label[for="theme-toggle"] .fa-moon {
  display: none;
}

#theme-toggle:checked+label .fa-sun {
  display: none;
}

#theme-toggle:checked+label .fa-moon {
  display: inline-block;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary);
}

nav ul li a:hover {
  text-decoration: underline;
  transition: 0.3s ease-in;
}
